<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd 
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<import resource="spring-redis.xml"/>
	
	<context:component-scan base-package="com.gochinatv.cdn" />
   
	<mvc:annotation-driven/>
	<mvc:resources location="/cdn.json" mapping="*.json"/>
	<mvc:resources location="/js/" mapping="/js/*.js"/>

	<mvc:redirect-view-controller redirect-url="/index" path="/"/>
	
	<mvc:interceptors>
      <mvc:interceptor>
        <mvc:mapping path="/v1/getPlayUrl"/>
        <bean class="com.gochinatv.cdn.api.framework.ControllerInterceptor"/>
      </mvc:interceptor>
      <!-- <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="locale" />
	  </bean> -->
    </mvc:interceptors>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" /><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    </bean> 
    
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" scope="">
		<property name="messageConverters">
			<list>
				<ref bean="jsonMessageConverter"/>
				<ref bean="xmlMessageConverter"/>
			</list>
		</property>
	</bean>
	
	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
	
	<bean id="xmlMessageConverter" class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    	<property name="basename" value="classpath:message/messages" />
    	<property name="defaultEncoding" value="UTF-8"/>
	</bean>

	<!-- 基于Cookie的本地化解析器 -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieMaxAge" value="604800" />
		<property name="defaultLocale" value="zh_CN" />
		<property name="cookieName" value="language"/>
	</bean>
    
    <aop:config>
	  <aop:aspect ref="logAspect">
	    <aop:pointcut expression="execution(* com.gochinatv.cdn.api.service.impl..*.*(..))" id="serviceLogPointcut"/>
	    <aop:around method="around" pointcut-ref="serviceLogPointcut"/>
	    <aop:after-returning method="afterReturning" arg-names="point,retValue" returning="retValue" pointcut-ref="serviceLogPointcut"/>
	    <aop:after-throwing method="doThrowing" throwing="ex" pointcut-ref="serviceLogPointcut"/>
	  </aop:aspect>
	</aop:config>
	
	<context:property-placeholder location="classpath:conf.properties,file:///opt/conf.properties" 
	ignore-resource-not-found="true" file-encoding="utf-8"/>
    
    <bean id="localCacheImpl" class="com.gochinatv.cdn.api.service.impl.LocalCacheImpl" init-method="init">
       <property name="importPath" value="/dev/hour/export"/>
    </bean>
    
</beans>
